<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CURATE</title>
  </head>
  <body>
    <div class="edit-container">
      <h1>EDIT <%=pieces.title%> </h1>
      <form action="/curate/<%=pieces.id; %>?_method=PUT" method="POST">
        <input type="text" name="title" placeholder="TITLE" /><br/>
        <input type="text" name="artist" placeholder="ARTIST" /><br/>
        <input type="url" name="img" placeholder="IMAGE URL" /><br/>
        <a type="submit" href="/curate">SUBMIT EDITS</a>
      </form>
    </div>
  </body>
</html>
