<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CURATE</title>
  </head>
  <body>
    <div class="create-container">
      <h1>ADD A (MASTER)PIECE</h1>
      <form action="/curate" method="POST">
        <input type="text" name="title" placeholder="TITLE" /><br/>
        <input type="text" name="artist" placeholder="ARTIST" /><br/>
        <input type="url" name="img" placeholder="IMAGE URL" /><br/>
        <input type="submit" value="SUBMIT PIECE">
      </form>
      <nav>
        <a href="/curate">HOME</a>
      </nav>
    </div>
  </body>
</html>
